.column {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.square {
    background-color: bisque;
    margin: 0px;
    /* border-style: solid;
    border-color:aquamarine; */
    width: auto;
    height: 0;
    padding: 50%; 
    display:flex;
    justify-content: center;
    align-items: center;
}

#container2 {
    width: 80vh;
    margin: auto;
    margin-top: 8px;
    border-style: solid;
    border-color: red;
    padding: 3px;
    display: flex;
}

#container1 {
    display:flex;
    justify-content: center;
}

#container0 {
    display:flex;
    justify-content: center;
}
